*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#loader{
    
     width: 100%;
     height: 100vh;
     background: #eda76a url(../images/center-icon.svg)no-repeat center;
     position: fixed;
     background-size: 100px;
     z-index: 99999;
    

}
#myBtn  {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 999; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #fc716e; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    box-shadow: 0px 0px 20px #fff;
  }
  
  #myBtn:hover {
    background-color: #ffb3a9; /* Add a dark-grey background on hover */
  }

#text{
    background: #fc716e !important;

}
#sections
{
    background: #ffb3a9;
    background-image: url(../images/stars.svg);
  

}

#text-three
{
    background: #16a3a3;
}
#text-four
{
    background: #663182;
}
#text-five
{
    background: #3e1368;
}
.container-fluid
{
    width: 90% !important;
}
.header-logo
{
    width: 30%;
}
.middle_txt
{
    padding: 0px 9px 0px 9px;
    border-radius: 12px;
}
.main_img
{
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
}
/* .main_img img::before
{
    content: "";
    background-image: url(../images/circle.svg);
} */
.center-img
{
    width: 21%;
    margin: 17px 279px 18px 0px;
    position: relative;
}
.icon-img
{
    width: 18px;
}
.getway-img
{
    width: 100%;
   
}
.getway-img img{
    width: 113px;
    margin-top: -75px;
    margin-bottom: -40px;
}
/* .center-img::after
{
    content: "";
    background-image: url(../images/center-icon.svg);
    position: absolute;
} */
.main-txt
{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: -90px;
}
.center-txt
{
    width: 38%;
    margin-top: 16px;
    margin-left: 300px;
}
.center-text
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 300px;
}
.btn-radius
{
    border-radius: 15px;
    background-color: #ff1f7a;
    border: 0px solid #ff1f7a;
}
.main-img img{
    width: 40px;
    z-index: 99;
    position: absolute;
    top: 70px;
    left: 215px;
}
.pizza-img
{
    width: 59px;
    position: absolute;
    z-index: 9;
    top: 220px;
    left: 100px;

}
.hello-img img
{
    width: 150px;
    position: absolute;
    z-index: 99;
    top: -22px;
    left: 119px;
}
.rocket-img img{
    width: 55px;
    position: absolute;
    top: -115px;
    left: 374px;
    z-index: 99;

}
.heart-img img{
    width: 46px;
    position: absolute;
    z-index: 99;
    right: 369px;
    bottom: 129px;

}
.universe-img img{
    width: 44px;
    position: absolute;
    z-index: 99;
    right: 274px;
    bottom: 245px;
}
.astronaut-img img{
    width: 108px;
    position: absolute;
    z-index: 99;
    right: 169px;
    bottom: 138px;
}

.middle-heart img{
    width: 45px;
    position: absolute;
    z-index: 99;
    bottom: 271px;
    left: 123px;
}
.card-radius
{
    border-radius: 40px !important;
}
.line-text  button
{
    border-radius: 20px ;
}
.line-text  button:hover
{
    background: #16a3a3;
   box-shadow: none;
   
}
.side-line-text ul {
    list-style-type:none;
}
.img img{
    width: 64%;
    margin: 34px 0px 0px 65px;
    position: relative;
}

.img img::before
{
    content: "";
    background-image: url(../images/how-to-buy-img.svg);
}

.footer-img img{
    width: 100%;
    margin-top: 66px;
    height: auto;
    margin-left: 0px;
}
